<hr />
<h1>Top {{ topStocksNumber }} Stocks</h1>
<hr />
<p-table [value]="profitStock" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Symbol</th>
      <th>Profit</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-stock>
    <tr>
      <td>{{ stock.Symbol }}</td>
      <td>{{ stock.Profit }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No Data found.</td>
    </tr>
  </ng-template>
</p-table>
<hr />
<h1>Intra-Day Stocks</h1>
<hr />
<p-table
  #dt1
  [value]="stockData"
  responsiveLayout="scroll"
  [rows]="10"
  [showCurrentPageReport]="true"
  [loading]="loading"
  styleClass="p-datatable-gridlines"
  [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['Symbol', 'Open', 'High', 'Close']"
>
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Symbol
          <p-columnFilter
            type="text"
            field="Symbol"
            display="menu"
          ></p-columnFilter>
        </div>
      </th>
      <th>Timestamp</th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Volume</th>
      <th>Datetime</th>
      <th>Gmtoffset</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-stock>
    <tr>
      <td>{{ stock.Symbol }}</td>
      <td>{{ stock.Timestamp }}</td>
      <td>{{ stock.Open }}</td>
      <td>{{ stock.High }}</td>
      <td>{{ stock.Low }}</td>
      <td>{{ stock.Close }}</td>
      <td>{{ stock.Volume }}</td>
      <td>{{ stock.Datetime }}</td>
      <td>{{ stock.Gmtoffset }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No Data found.</td>
    </tr>
  </ng-template>
</p-table>
